@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: peyda;
  src: url("../font/peyda/PeydaWebFaNum-Regular.woff");
  font-weight: normal;
}
@font-face {
  font-family: peyda;
  src: url("../font/peyda/PeydaWebFaNum-Bold.woff");
  font-weight: bold;
}

@layer base {
  /* base config */
  html {
    direction: rtl;
  }
  body {
    font-family: peyda;
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    @apply w-1;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full;
  }

  /* elements' outline */
  input,
  button,
  textarea,
  input:focus,
  button:focus,
  textarea:focus {
    @apply outline-none;
  }

  /* shadows */
  .custom-shadow-1 {
    box-shadow: 0px 0px 88px 1px rosybrown;
  }
}
